<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>HashCode</title>

  <link href="css/index.css" rel="stylesheet">

  <!-- Css stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Bootstrap script -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
    
</head>

<body>

    
</section>
<section>

<!-- "https://www.youtube.com/embed/z9bZufPHFLU"-->

  <div class="embed-responsive embed-responsive-21by9">
    <% for(var i=0; i) %>
  <iframe class="embed-responsive-item"  
     allow="accelerometer; autoplay; clipboard-write; encrypted-media;
    gyroscope; picture-in-picture" allowfullscreen src=<%=listlink %>></iframe>
</div>
</section>

<p style="color: #fff;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempora sequi laboriosam, explicabo vitae inventore iusto expedita sit dignissimos distinctio ipsam maxime vel molestiae molestias quibusdam provident magnam nisi labore.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempora sequi laboriosam, explicabo vitae inventore iusto expedita sit dignissimos distinctio ipsam maxime vel molestiae molestias quibusdam provident magnam nisi labore.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempora sequi laboriosam, explicabo vitae inventore iusto expedita sit dignissimos distinctio ipsam maxime vel molestiae molestias quibusdam provident magnam nisi labore.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempora sequi laboriosam, explicabo vitae inventore iusto expedita sit dignissimos distinctio ipsam maxime vel molestiae molestias quibusdam provident magnam nisi labore.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempora sequi laboriosam, explicabo vitae inventore iusto expedita sit dignissimos distinctio ipsam maxime vel molestiae molestias quibusdam provident magnam nisi labore.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempora sequi laboriosam, explicabo vitae inventore iusto expedita sit dignissimos distinctio ipsam maxime vel molestiae molestias quibusdam provident magnam nisi labore.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempora sequi laboriosam, explicabo vitae inventore iusto expedita sit dignissimos distinctio ipsam maxime vel molestiae molestias quibusdam provident magnam nisi labore.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempora sequi laboriosam, explicabo vitae inventore iusto expedita sit dignissimos distinctio ipsam maxime vel molestiae molestias quibusdam provident magnam nisi labore.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempora sequi laboriosam, explicabo vitae inventore iusto expedita sit dignissimos distinctio ipsam maxime vel molestiae molestias quibusdam provident magnam nisi labore.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempora sequi laboriosam, explicabo vitae inventore iusto expedita sit dignissimos distinctio ipsam maxime vel molestiae molestias quibusdam provident magnam nisi labore.
</p>

</body>
</html>
