@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #282a34 !important;
  text-align: center;
} 
 
/* .logo {
  width: 7%;
  height: 7%;
}  */

 #title {
  /* background: #ffbf00; */
  color: #fff;
}

.cover {
  background: #2b2d34 url(https://images.wallpapersden.com/image/download/colorful-neon-bubbles_a2dtaWmUmZqaraWkpJRmbmdlrWZlbWU.jpg) center;
  background-size: cover;
  min-height: 50rem;
  height: auto;
  border-radius: 0;
  width: 100%;
  color: #fff;
}

.namaste{
  width:20rem;
  padding:1rem;
  margin-left: 40%;
}



/* Navigation Bar */
.navbar {
  padding: .5rem 10rem !important;
}

.navbar-trans{
  background: transparent;
}

.navbar-brand {
  display: inline-block;
  padding: 0rem !important;
  margin: 0rem !important;
  font-size: 2rem !important;
  line-height: inherit;
  white-space: nowrap;
}

.nav-item {
  padding: 0 ;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  margin: 1rem 0.5rem;
  transition: all 0.2s ease;
}

.nav-link:hover {
  color: rgb(255, 255, 255);
}

#title .jumbotron{
  padding: 0;
}

.bg-img{
  height:40rem;
  width: 100%;
}

.dropdown-item {
  transition: all 0.3s ease;
}

/* Courses */
#courses .jumbotron{
  margin: 1% 10%;
  background-size: cover;
  background-color: rgba(0,0,0,0) !important;
}

#courses .jumbotron h1{
  color:#fff;
}

/* cards */
.card{
  background-color: #3C3F51 !important;
  color:#fff;
  box-shadow: 5px 5px 5px 2px #1c1e29;
  transition: all 0.1s ease;
}

.card-description{
  margin:1%;
  padding:0;
}

.card-img{
  height:15rem;
  padding: 1rem 0;
  border-radius: 50% !important;
  /* border-radius: calc(2rem - 25px) !important; */
}

/* card-buttons */
/* .course-btn{
  margin-left: 30%;
} */

/* .cdgrnd-btn{
  float:center;
} */



/* modals */
.modal-dialog{
  overflow-y: initial !important;
}

.modal-header, .modal-footer{
  background-color: #282A34;
}

.modal-body{
  height: 20rem !important;
  overflow-y: auto;
  background-color: #282A34;
}

.modal-body .list-group-item{
  background-color: #E2336B;
  color:#fff;
  transition: 0.4s all ease;
}

.modal .list-group-item:hover{
  background-color: #FCAC46;
  color:#fff;
}

#staticBackdrop > div > div > div.modal-header > button > span {
  color: aliceblue;
  transition: 0.4s all ease;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(200,200,200,0.5);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:rgba(250,250,250,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
}





/* footer */
#footer {
  padding: 2rem 5rem 2rem;
  background: #000;
}

.footer-description {
  margin-bottom: 0;
  left: 0;
  bottom: 0;
  width: 100%; 
  color: #fff;
}

.fa {
  color: #fff;
  padding: 0 20px 0;
  transition: all 0.2s ease;
}

.fa:hover {
  color: #00acfc;
}

.footer-description hr {
  border-color: #fff;
}

ul.text-center{
  padding: 0 !important;
  margin: 0 !important;
}

li.list-inline-item {
  padding: 0 1em 0;
}

.copyright {
  margin: 1em;
}

.copyright a{
  color: #fff;
  font-size: larger;
  text-decoration: none;
  transition: transform all 3s ease;
}

.copyright a:hover{
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
  font-family: 'Fredericka the Great', cursive;
  font-size: 5rem;
  }

.typewriter{
  margin: 10% 10% 0;  
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

/* The heart of the matter */
.testimonial-group > .row {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-3 {
  display: inline-block;
}

/* Decorations */
.col-3 {
  color: #fff; 
  }
